@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
  }

  .active{
    --tw-text-opacity: 1;
    color: rgb(163 163 163 / var(--tw-text-opacity));
  }

input::placeholder {
    font-style: italic;
 }

 #singleArticleInput::placeholder {
  font-style: italic;
  font-weight: bold;
}

textarea::placeholder {
  font-style: italic;
  font-weight: bold;
}
#searchInput::placeholder{
  font-style: normal;
  font-weight: normal;
}

.custom-shadow {
  box-shadow: 5px 4px 5px 0px rgba(135, 189, 236, 1);
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  60% {
    transform: translateX(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-shake {
  animation: shake 0.5s;
}
  
  
  
  
  


